<panel title="POC - BBMAPFRE" linkback="">
    
    <!--  -->
    <div ng-repeat="group in linksHome" class="link-group">
        <h2>{{group.title}}</h2>
            <a href="{{itemGroup.link}}" target="{{itemGroup.target}}" ng-repeat="itemGroup in group.list" class="tile">
                <i class="fa fa-2x {{itemGroup.icon}}" aria-hidden="true"></i>
                <span class="title">{{itemGroup.title}}</span>
                <span class="text">{{itemGroup.text}}</span>
            </div>

    </div>

    <!-- <div class="tiles">
        <a href="#{{link.link}}" ng-repeat="link in links" class="tile">
            <i class="fa fa-2x {{link.icon}}" aria-hidden="true"></i>
            <span class="title">{{link.title}}</span>
            <span class="text">{{link.text}}</span>
        </a>
    </div> -->
    <!-- {{listaEventos}} -->
</panel>
